<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg" style="background-color:#FF7F50;">
        <div class="container-fluid">
          
          <img src="/static/images/cart3.jpg" alt="" height="50px" width="80px">
            <a style="color:white;margin-left:10px"class="navbar-brand" href="{% url 'shop:home' %}">E-Accessories</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a style="color:white" class="nav-link active" aria-current="page" href="{% url 'shop:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a style="color:white" class="nav-link" href="{% url 'shop:allproducts' %}">Categories</a>
              </li>
              <li class="nav-item">
                <a style="color:white" class="nav-link" href="{% url 'shop:mycart' %}">Cart</a>
            </li>
            <li class="nav-item dropdown">
                <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if request.user.customer %}
                <a class="dropdown-item" href="{% url 'shop:customerprofile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'shop:customerlogout' %}">Logout</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'shop:customerregistration' %}">Register</a>
                <a class="dropdown-item" href="{% url 'shop:customerlogin' %}">Login</a>
                {% endif %}
                
                </div>
                
            </li>
       
            <form class="form-inline my-2 my-lg-0" action="{% url 'shop:search' %}" method="GET">
                <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                <button  style="background-color:orange; color:white; margin-right: 20px;"class="btn btn-sm " type="submit">Search</button>
                </form>
                
          </div>
        </div>
      </nav>
    <hr>

   
    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>